
/* @import url('https://fonts.googleapis.com/css?family=Rajdhani'); */
@import url('https://fonts.googleapis.com/css?family=Coda');



.App {
  font-family: Coda,  sans-serif;
  text-align: center;
  margin-top: 20px;

}
.header-text{
  color: rgb(77, 9, 9);
  padding: 20px;
  margin-top: 20px;
  /* background-color: rgb(116, 116, 8); */
}
